body {
  margin: 0;
  padding: 0;
}

.header {
  /* background-color: rgb(190, 140, 247); */
  background-color: black;
  padding: 5px;
  position: relative;
}

.purple-column {
  display: flex;
  align-items: center;
}

.company-icon {
  position: absolute; 
  top: 0.5;
  left: 25px; 
  width: 80px; 
  height: 80px; 
  border-radius: 20px;
}

h1{
  margin-left: 150px;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.877);
}

.background {
  /* background: radial-gradient(rgba(4, 4, 204, 0.671), rgb(152, 31, 163), rgb(86, 89, 236)); */
  background: radial-gradient(rgb(94, 230, 240), rgb(37, 62, 128), rgb(13, 20, 79));
  text-align: center;
  padding: 200px 0;
}

.welcome-message {
  color: #ffffffdc;
}

.welcome-message h1 {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

.welcome-message p {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.stars {
  position: absolute;
  width: 100%;
  height: calc(100% - 400px); 
  top: 200px;
}  
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
}

.frame {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}
button {
  margin: 50px;
}
.custom-btn {
  width: 170px;
  height: 100px;
  color: #170921;
  border-radius: 50px;
  padding: 30px 25px;
  font-family: 'Arial', sans-serif;
  font-weight: 900;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 1 */
.btn-1 {
  background: rgb(254,84,209);
  background: linear-gradient(0deg, rgba(254,14,131,1) 10%, rgba(22,25,180,1) 100%);
  border: none;
}
.btn-1:hover {
   background: rgb(0,172,238);
   background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
}

/* 2 */
.btn-2 {
  background: rgb(165, 81, 229);
  background: linear-gradient(0deg, rgba(165, 81, 229,1) 0%, rgba(229,5,140,0.2) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* 3 */
.btn-3 {
  background: rgb(0,172,238);
  background: rgb(25, 172, 123);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  background: linear-gradient(0deg, rgba(25,172,123,1) 0%, rgba(2,126,251,1) 100%);
  /*width: 160px;
  height: 60px;*/
  width: 170px;
  height: 100px;
  line-height: 100px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

.useful-links{
  text-align: center;
}