body {
	background: rgba(221,163,255,1);
    margin: 0;
    font-family: 'Atkinson Hyperlegible';
}
@keyframes avatardisappear {
    from {
        width: 100px;
        opacity: 1;
    }
    to {
        width: 0px;
        opacity: 0;
    }
}
@keyframes bubbledisappear {
    from {
        width: 10%;
        opacity: 1;
    }
    to {
        width: 0%;
        opacity: 0;
    }
}
.animate-avatar-disappear {
    animation-name: avatardisappear;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-timing-function: linear;
}
.animate-avatar-appear {
    animation-name: avatardisappear;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction: reverse;
    animation-timing-function: linear;
}
.animate-bubble-disappear {
    animation-name: bubbledisappear;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-timing-function: linear;
}
.animate-bubble-appear {
    animation-name: bubbledisappear;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction: reverse;
    animation-timing-function: linear;
}
.left-button {
    position: relative;
    width: 10%;
    height: 50px;
    left: calc(-10% - 20px);
    top: 300px;
    font-size: 50px;
    text-align: right;
    z-index: 999;
}
.right-button {
    position: relative;
    width: 10%;
    height: 50px;
    left: calc(90% + 20px);
    top: 300px;
    font-size: 50px;
    z-index: 999;
}
