body{
    font-family: 'Atkinson Hyperlegible';
}

.photo{

    height:auto;
    width:300px;
    aspect-ratio: 1 / 1; 
    display:inline-block;
    object-fit: cover;

}

.text-block {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    display: inline-block;
  }
