:host{
  display:inline-block;
  aspect-ratio:1 / 1;
  width:fit-content;
  height:fit-content;
  max-height:100%;
  max-width:100%;
  padding:0px;
  margin:0px;
  border:0px;
}
object {
  height:100%;
  width:100%;
  aspect-ratio: 1 / 1; 
  display:inline-block;
  border-radius: 50%;
  object-fit: cover;
}
